@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #34495E;
  --primary: #4A6FA5;
  --primary-light: #5C86C2;
  --secondary-dark: #B3B3B3;
  --secondary: #E8DFD6;
  --secondary-light: #F4EDE4;
  --background: #FFFFFF;
  --foreground: #000000;
  --foreground-light: #283D5A;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
